{% extends 'components/base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<div class="container mx-5 my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
        <div class="col">
            <a href="/blog/{{post.id}}/" style="text-decoration: none; color: black;">
                <div class="card h-100">
                    <img src="../../media/{{post.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.subTitle}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}