.carousel-item img {
    filter: brightness(45%);
}

.carousel-item .carousel-caption {
    top: 50%;
}

.cart-item {
    background-color: #90EE90;
    border-radius: 1rem;
}

.payment {
    background-color: #90EE90;
    border-radius: 1rem;
}

.comment {
    background-color: white;
    border-radius: 1rem;
}